PORT=3000
IZWS_CONNECTION_MODE=mock

# API mode settings
IZWS_BASE_URL=
IZWS_PORT=
IZWS_AUTH_METHOD=
IZWS_USERNAME=
IZWS_PASSWORD=
IZWS_API_PATH=
IZWS_ENGINE_NAME=

# USS mode settings
USS_HOST=
USS_PORT=
USS_PROTOCOL=ssh
USS_COMMAND_PATH=
USS_COMMAND_TEMPLATE=
